.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.battleCard {
  max-height: 700px;
  width: 600px;
  overflow: auto;
  border-style: ridge;
  border-width: '10px 10px 10px 10px';
  background-color:rgb(228, 222, 222);
}

.cards {
  background-color: white;
  padding-right: inherit;
  border-style: ridge;
  border-width: '10px 10px 10px 10px';
}

.deleteCardButton {
  background-color: rgb(230, 111, 111);
  float: right;
}

.addCardButton {
  background-color: rgb(93, 151, 240);
  float: center;
}