/* .App {
  background-color: rgb(156, 149, 149);
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
  
  */

.battleCard {

  background-color:rgb(228, 222, 222);  

  max-height: 700px;
  width: 500px;
  overflow: auto;
  border-style: ridge;
  border-width: '10px 10px 10px 10px';
  

  min-height: 100px;
  float: left;
  position: relative;
  padding: 15px;
  padding-top: 8px;
  padding-right: 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.cards {
  background-color: white;
  padding-right: inherit;
  border-style: ridge;
  border-width: '10px 10px 10px 10px';
}

.deleteCardButton {
  background-color: rgb(230, 111, 111);
  float: right;
}

.addCardButton {
  background-color: rgb(93, 151, 240);
  float: center;
}

.leftMenu {
  width: 160px;
  min-height: 400px;
  background: white;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  padding: 0px 10px;
  overflow-x: hidden;
  white-space: nowrap;
  transition: 0.5s;
  border-style: solid;
  border-color: black;
  font-size: 10px;
  text-align: left;
}

.titleBattleCard {
  font-size: 18px;
  color: var(--secondary);
  border: none;
  outline: none;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  width: 380px;
  resize: none;
}

.smallIndex {
  width: 100%;
  overflow: auto;
  border-style: ridge;
}

.smallIndexButton {
  float: left;
  font-size: 14px;
  color: #444;
  padding: 7.5px 15px;
  cursor: pointer;
  padding: 5.5px 13px;
  margin: 4px;
  border-radius: 5px;
  transition: 0.1s;
}