body {
  margin: 5px;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;  */
  font-family: "Brother 1816","brother-1816","Futura", "Lato" , "Verdana";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #f6f8f9;*/
  background-color: #e2ebec;
  /* font-family: "Ibarra Real Nova"; */
  font-family: "Arial";
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  font-family: "Brother 1816","brother-1816","Futura", "Lato" , "Verdana";
}
